.governments-item {
    margin-bottom: 50px;

    &__title {
        margin-bottom: 40px;
        font-weight: 700;
        font-size: 18.7552px;
        line-height: 23px;
        color: #042038;
    }
}