.mr__list {
    margin-top: 27px;

    li {
        margin-top: 10px;
        font-weight: 500;
        font-size: 15px;
        line-height: 25px;
    }
}

@media only screen and (max-width: 368px) {
    .mr__list {

        strong {
            font-size: 16px;
        }

        p {
            font-size: 14px;
        }
    }
}