@import "../../Assets/Scss/Colors.scss";
.VHokimligi{
      display: flex;
      justify-content: space-between;
      margin: 50px 0px 100px 0px; 
}
.VHokimligi__bar_open{
      background-color: $dackBlue;
      padding: 0 5px;
      display: none;
  }
@media only screen and (max-width: 1360px) {
      .VHokimligi{

            &__asside {
                  margin: 50px 0px;
            }
      }
      .VHokimligi__bar{
            margin-left: 0px;
            position: relative;
        }
        .VHokimligi__bar_inner{
            display: none;
        }
        .VHokimligi__bar_open{
            display: block;
            position: absolute;
            left: -40px;
        }
}