.TenderSavdolari {
  h3 {
    font-weight: 700;
    font-size: 23px;
    line-height: 23px;
    color: #14324c;
    margin-top: 33px;
  }
  span {
    font-weight: 600;
    font-size: 20px;
    line-height: 18px;
    color: #14324c;
    display: block;
    margin-top: 23px;
  }
  b {
    display: block;
    margin-top: 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    color: #14324c;
    margin-bottom: 20px;
  }
  .TenderSavdolari__text {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4e4e4e;
  }
  .TenderSavdolari__info{
    transform: translateY(25px);
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #4E4E4E;
   
}
}
