.loader {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 100vh;
    z-index: 100000000 !important;
    background-color: #fff;

    &__img {
        width: 180px;
        height: 180px;
        object-fit: cover;
    }
}

@media only screen and (max-width: 768px) {
    .loader__img {
        width: 150px;
        height: 150px;
    }
}

@media only screen and (max-width: 368px) {
    .loader__img {
        width: 150px;
        height: 150px;
    }
}