@import "../../Assets/Scss/Colors.scss";
@import "../../Assets/Scss/Styles.scss";

.modal {
    z-index: 10000 !important;
}

.navbar-top {
    padding-bottom: 15px;

    ul {
    margin-right: 40px !important;
        @include flexStyle(center, space-between, none);
    }

    li {
        button {
            display: flex;
            align-items: center;
            padding: 8px 14px;
            font-weight: 400;
            font-size: 12px;
            line-height: 15px;
            color: #fff;
            border: 1px solid #FFFFFF;
            border-radius: 100px;
            background-color: transparent;
            cursor: pointer;

            ion-icon {
                margin-left: 7px;
                font-size: 18px;
            }
        }
    }

    li + li {
        margin-left: 25px;
    }
}